.sidenav {
  height:100%;
  width:160px;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  padding-top:20px;
}

.sidenav a {
  padding:6px 8px 6px 16px;
  text-decoration: none;
  font-size:25px;
  color: #818181;
  display:block;
}

.sidenav a:hover{
  color:#f1f1f1;
}	

.content{
  margin-left:160px;
  padding: 0px 10px;
}

.responsive {
  width: 100%;
  height: auto;
  align-content: center;
}

.pictures {
  width: 100px;
  height: 100px;
  align-content: left;
}

.responsive-table {
  border-collapse: collapse;
  width: 100%;
}

.responsive-table th, .responsive-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.responsive-table th {
  background-color: #3399cc;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive Design */
@media all and (max-width: 767px) {
  .responsive-table th, .responsive-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .responsive-table th {
    text-align: left;
  }

  .responsive-table td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }

  .responsive-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
  }
}
